<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
//login
<body>
<h1>Login</h1>
<form action="/login" method="post">
    <label for="employeeName">Your Name:</label>
    <input type="text" id="employeeName" name="employeeName" required>
    <button type="submit">Login</button>
</form>

<!-- Display error message if present -->
<div>
    <p th:if="${param.error}" style="color:red;">Employee not found. Please try again.</p>
</div>
</body>
</html>